@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  color: #202124;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  outline-color: var(--app-green);
}