@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  color: #202124;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  outline-color: var(--app-green);
}

.page {
  background-color: hsl(0, 0%, 98%);
  padding: 1em;
  margin-top: 5rem;
  color: hsl(200, 15%, 8%);
  min-height: 60vh;
}